# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
 import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [19]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.shape[0]

4622

In [5]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.columns.size

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
# prompt: Which was the most-ordered item?

c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:

order = chipo.groupby('item_name')
order = order.sum()
order = order.sort_values(['quantity'], ascending=False)
order.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
# prompt: What was the most ordered item in the choice_description column?

chipo['choice_description'] = chipo['choice_description'].fillna('')  # Replace NaN with empty string

c = chipo.groupby('choice_description').sum()

c = c.sort_values(['quantity'], ascending=False)

print(c.head(1))

                    order_id  quantity  \
choice_description
                     1178731      1382

                                                            item_name  \
choice_description
                    Chips and Fresh Tomato SalsaChips and Tomatill...

                                                           item_price
choice_description
                    $2.39 $2.39 $1.69 $4.45 $4.45 $2.39 $4.45 $2.3...

### Step 12. How many items were orderd in total?

In [12]:

total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

In [13]:

chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '', regex=False).astype(float)

#### Step 13.a. Check the item price type

In [14]:
chipo['item_price'].dtype

dtype('float64')

#### Step 13.c. Check the item price type

In [16]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
revenue = (chipo["quantity"] * chipo["item_price"]).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [20]:
unique_orders = chipo['order_id'].nunique()
unique_orders

1834

### Step 16. What is the average revenue amount per order?

In [22]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [23]:
# Solution 1

total_revenue = chipo['item_price'].sum()

unique_orders = chipo['order_id'].nunique()

average_revenue = total_revenue / unique_orders
average_revenue

18.811428571428575

In [24]:
# Solution 2
revenue_per_order = chipo.groupby('order_id')['item_price'].sum()

average_revenue = revenue_per_order.mean()
average_revenue

18.811428571428568

### Step 17. How many different items are sold?

In [26]:
unique = chipo['item_name'].nunique()
unique

50